body {
    overflow-x: hidden;
}

#icon-colaborador {
    color: #CB9A38;
}

#icon-curso {
    color: #CB9A38;
}

.label-menu:hover {
    border-left: 5px solid #54B4BB;
}

.label-menu:hover .icon-menu {
    color: #54B4BB;
}

#nav-mobile {
    width: 220px;
}

#white-card {
    border-radius: 8px;
}

#card-check-list {
    border-left: 5px solid #CB9A38;
}

@media only screen and (min-width: 600px) {
    #white-card {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #card-marign {
        margin-left: 220px;
    }
}

@media only screen and (min-width: 600px) {
    .wrapper {
        padding-left: 217px;
    }
}

.text-campo-obrigatorio {
    color: red;
    font-size: 12px;
}

.btn-width-fixed {
    width: 100px;
}

.colored-orange {
    color: #CB9A38;
}

.colored-blue {
    color: #54B4BB;
}

#slide-out {
    width: 17%;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

/* Cor do checkbox ativado*/

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    color: #CB9A38 !important;
}

/* Cor dos ícones no menu*/

.sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    color: #CB9A38;
}